*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
.header{
    width: 100%;
    height: 3vh;
    padding: 0;
    position: relative;
    background: #020412;
}
nav{
    display: flex;
    align-items: center;
    min-height: 10vh;
    background-color: #5a37f3;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right:40px;
    cursor: pointer;
}
.logo{
    color: rgb(170, 168, 168);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    border-radius: 1px;
    border: 5px solid #24d3ff;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a{
    color: rgb(241, 237, 237);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}
nav ul li a:hover{
    color: aqua;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #34495e;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 12px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 250px;
    border-color: #2ecc71;
}
.box input[ type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[ type = "submit"]:hover{
    background: #2ecc71;
}
